<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="ui main container">
        <div class="ui raised segment" style="text-align: center; margin-top: 30px;">
            <form action="/" method="post">
                <select class="ui selection dropdown" name="choose_day">
                    {%for i in data_list%}
                        <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
                <button class="ui primary button" type="submit">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            表示
                        </font>
                    </font>
                </button>
            </form>
            　
            <form action="/" method="post">
                <button class="ui olive button" style="width:200px;" name="which" value="0">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            世帯
                        </font>
                    </font>
                </button>
                <button class="ui teal button" style="width:200px;" name="which" value="1">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            コミュニティ
                        </font>
                    </font>
                </button>
            </form>
        </div>
        <div class="ui two column grid">
            <div class="column">
                <div class="ui raised segment">
                    <div id="chart_div" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
            <div class="column">
                <div class="ui raised segment">
                    <h3 id="zouka_text"></h3>
                    <div style="text-align: center;">
                        <img id="mypic" src="./static/images/tree1.png" alt="tree1.png" style="height: 359px;">
                    </div>
                </div>
            </div>
        </div>
        <div id="analyze_txt_3" class="ui horizontal segments" style="text-align: center; margin-top: 30px;">
            <div class="ui segment" style="font-size: 25px;">
                <form action="/" method="post">
                    <button class="ui teal button" style="width:200px;" name="amakara" value="0">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                甘メンター
                            </font>
                        </font>
                    </button>
                    <button class="ui red button" style="width:200px;" name="amakara" value="1">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                辛メンター
                            </font>
                        </font>
                    </button>
                </form>
                <h3 id="zouka_text_2"></h3>
                <div style="text-align: center;">
                    <img id="mypic_2" src="./static/images/ama_shin_good.png" alt="ama_shin_good.png" style="width: 1000px;">
                </div>
            </div>
        </div>
        <div id="analyze_txt" class="ui horizontal segments" style="text-align: center; margin-top: 30px;">
            <div class="ui segment" style="font-size: 25px;">
                MAX：{{max_value}}
            </div>
            <div class="ui segment" style="font-size: 25px;">
                MIN：{{min_value}}
            </div>
            <div class="ui segment" style="font-size: 25px;">
                MEAN：{{mean_value}}
            </div>
            <div class="ui segment" style="font-size: 25px;">
                TOTAL：{{all_day}}
            </div>
        </div>
        <div id="analyze_txt_2" class="ui horizontal segments" style="text-align: center; margin-top: 30px;">
            <div class="ui segment" style="font-size: 25px;">
                PEAK TIME：
                {%for i in peak_time%}
                    {{i}}　
                {%endfor%}
            </div>
        </div>
        <div id="analyze_txt_5" class="ui horizontal segments" style="margin-top: 30px;">
            <div class="ui raised segment">
                <div class="ui two column grid">
                    <div class="column">
                        <br><br><br>
                        <div style="font-size: 70px;">現在</div><br><br><br><br><br><br>
                        <div style="font-size: 200px; text-align: center; color:#089222;" >{{tree_count_is}}</div>
                        <br><br><br><br><br><br><div style="font-size: 70px; text-align: right;">本</div>
                    </div>
                    <div class="column" style="text-align: center;">
                        <img src="./static/images/trees.png" alt="trees.png" >
                    </div>
                </div>
                <br>
                <div style="text-align: center; font-size:50px;">残り{{nokori}}本でVGポイントプレゼント！</div>
                <br>
            </div>
        </div>
        <div id="analyze_txt_4" class="ui horizontal segments" style="margin-top: 30px;">
            <div class="ui segment">
                <h3>（1）節電ポイント特典</h3>
                1節電ポイント＝1VGポイントとし、節電量に応じたVGポイントを付与します。<br>
                <b>節電ポイントとは</b><br>
                前日までに設定された特定の時間帯において、ご家庭ごとに算定する標準的な使用量*4よりも実際の使用量が下回る場合に取得できるポイント。<br>
                節電量1kWhあたり5節電ポイントまたは10節電ポイントを付与<br>
                （※付与ポイントについては、前日にメールでお知らせします）。<br>
                <h3>（2）ランキング特典</h3>
                キャンペーン期間終了時点のポイント獲得ランキングに応じ、VGポイントを追加で付与します。<br>
                <b>1位から10位まで</b>：5,000VGポイント<br>
                <b>11位から100位まで</b>：3,000VGポイント<br>
                <b>101位から1,000位まで</b>：1,000VGポイント<br>
                <b>1,001位から3,000位まで</b>：500VGポイント
            </div>
        </div>
        <br>
    </div>
    <!-- グラフ描画関数 -->
    <script type="text/javascript">
        current_list = {{ graph_list|tojson }}
        google.load('visualization', '1', {'packages':['corechart']}); 
        google.setOnLoadCallback(drawChart);  
        function drawChart() {     
            var data = google.visualization.arrayToDataTable(current_list);
            var options = {
            title: '消費電力'
            };     
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

    <!-- 画像移り変わり -->
    <script>
        const img = {{grow_list|tojson}};
        const img_2 = {{comment_list|tojson}};
        //console.log(img)
        
        let count = -1;
        let state = 0;
        let count_2 = -1;
        let state_2 = 0;
        vals =  {{time_txt_|tojson}};
      
        function slideshow_timer() {
          count++;
          // カウントが最大になれば初期値に戻す
          if (count == vals.length) {
            count = 0;
            state = 0;
          }
          document.getElementById("mypic").src = img[state];
          document.getElementById("zouka_text").innerText = vals[count];
          setTimeout("slideshow_timer()",2800);
          state ++;
        }

        function slideshow_timer_2() {
            count_2++;
            // カウントが最大になれば初期値に戻す
            if (count_2 == vals.length) {
              count_2 = 0;
              state_2 = 0;
            }
            document.getElementById("mypic_2").src = img_2[state_2];
            document.getElementById("zouka_text_2").innerText = vals[count_2];
            setTimeout("slideshow_timer_2()",2800);
            state_2 ++;
          }
        window.addEventListener('load', function(){
            slideshow_timer();
            console.log('FIRST onload');
          });
        window.addEventListener('load', function(){
            slideshow_timer_2();
            console.log('second onload');
        });
    </script>

    <!-- ************************************ -->

</body>
</html>